*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    width: 100vw;
    border: 3px solid red;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 9fr;
}

.header {
    background-color: rgb(226, 207, 207);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.side {
    background-color: rgb(165, 165, 164);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrale {
    width: 80%;
    height: 50%;
    background-color: rgb(179, 137, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

input {
    width: 40%;
    height: 2rem;
}

.btn1 {
    background-color: rgb(135, 139, 139);
    border: none;height: 2rem;
    width: 20%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    background-color: rgb(135, 139, 139);
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dh {
    background-color: rgb(135, 139, 139);
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 4px;
    margin-right: 1rem;
    
}



.round {
    height: 3rem;
    width: 3rem;
    background-color: rgb(152, 195, 216);
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;

}

.viola {
    width: 80%;
    height: 3rem;
    background-color: blueviolet;
    margin: 0 auto;
    margin-top: 10px;

}











































































































/*  */